---
import ContacButtons from "../../components/global/ContacButtons.astro";
import MainLayout from "../../components/layouts/MainLayout.astro";
import mainLogo from "../../assets/mainLogo.svg";
import LinkButton from "../../components/ui/linkButton.astro";
import { Icon } from "astro-icon/components";
import StepNumber from "../../components/ui/stepNumber.astro";
const stepNumberStyle =
    "bg-emerald-500 w-10 h-10 text-white text-center text-2xl font-semibold";
---

<MainLayout
    title="Interior Painting Services in Morris County | George The Painter LLC"
    description="Professional Interior painting services in Morris County, NJ."
>
    <section class="min-h-[calc(100svh-6rem)] grid">
        <div
            class="hero bg-gray-400 p-5 md:p-10 flex flex-col justify-between md:flex-row gap-20 items-center"
        >
            <div>
                <h1
                    class="flex flex-col gap-5 text-4xl lg:text-7xl font-extrabold *:text-nowrap text-gray-800"
                >
                    <span class="text-center">Interior painting</span>
                    <span class="text-3xl lg:text-5xl max-w-xl text-center"
                        >by</span
                    >
                </h1>
                <img
                    src={mainLogo.src}
                    class="w-full max-w-xl"
                    alt="George the painter logo"
                />
            </div>
            <div class="flex flex-col items-center md:items-end gap-10">
                <p class="text-xl text-gray-800 text-center md:text-right">
                    <span
                        class="text-xl lg:text-2xl text-gray-800 text-center md:text-right"
                        >Bring your vision to life | Professional Interior
                        painting services in Morris County, NJ.</span
                    >
                </p>
                <LinkButton
                    url="/contact-form"
                    title="Get a quote"
                    classes="bg-emerald-600 text-white font-bold text-xl px-5 rounded-full hover:scale-105"
                />
            </div>
        </div>
    </section>
    <section
        class="why-us grid gap-10 grid-cols-[repeat(auto-fit,_minmax(10rem,_1fr))] items-center text-center *:flex *:flex-col *:items-center *:gap-3 p-10 bg-gray-800 text-gray-50"
    >
        <figure>
            <Icon name="detailAttention" class="text-6xl lg:text-8xl" />
            <figcaption class="text-base sm:text-2xl text-nowrap">
                Attention to detail
            </figcaption>
        </figure>
        <figure>
            <Icon name="efficiency" class="text-6xl lg:text-8xl" />
            <figcaption class="text-base sm:text-2xl text-nowrap">
                Efficiency
            </figcaption>
        </figure>
        <figure>
            <Icon name="reliableService" class="text-6xl lg:text-8xl" />
            <figcaption class="text-base sm:text-2xl text-nowrap">
                Reliable Service
            </figcaption>
        </figure>
        <figure>
            <Icon name="cleanWork" class="text-6xl lg:text-8xl" />
            <figcaption class="text-base sm:text-2xl text-nowrap">
                Clean work
            </figcaption>
        </figure>
    </section>
    <section
        class="p-10 flex flex-col gap-5 text-lg text-gray-800 font-medium bg-gray-200"
    >
        <h2 class="text-gray-400">Preparation</h2>
        <p class="font-semibold text-xl">
            We follow <i>essential steps</i> to prepare all surfaces before a single
            paintbrush touches them.
        </p>

        <ul class="list-disc list-inside *:my-5">
            <li>
                Protecting floors, furniture, and fixtures with drop cloths or
                plastic sheeting.
            </li>
            <li>Removing any obstacles from the painting area.</li>
            <li>
                Cleaning and preparing surfaces by washing, sanding, and
                patching holes or cracks.
            </li>
            <li>
                Applying primer to bare surfaces or areas with stains to ensure
                proper adhesion and coverage of the paint.
            </li>
        </ul>
    </section>
    <article class="p-10">
        <h2 class="text-gray-700 text-2xl font-semibold mt-5">
            Our step-by-step painting process
        </h2>
        <div class="flex items-center gap-3 my-5">
            <StepNumber number={1} style={stepNumberStyle} />
            <span>
                Start with cutting in (painting edges and corners) using a brush
                or edging tool.
            </span>
        </div>
        <div class="flex items-center gap-3 my-5">
            <StepNumber number={2} style={stepNumberStyle} />
            <span>
                Use a roller to apply paint to larger areas, working in small
                sections.
            </span>
        </div>
        <div class="flex items-center gap-3 my-5">
            <StepNumber number={3} style={stepNumberStyle} />
            <span>
                Apply additional coats as needed for even coverage, allowing
                each coat to dry between applications.
            </span>
        </div>
        <div class="flex items-center gap-3 my-5">
            <StepNumber number={4} style={stepNumberStyle} />
            <span>
                Pay attention to detail and ensure smooth, consistent coverage.
            </span>
        </div>
        <div class="flex justify-center pt-10">
            <a
                href="/contact-form"
                class="bg-emerald-500 text-xl md:text-2xl font-semibold rounded-2xl px-10 py-2 text-white hover:scale-110 transition"
                >Get free estimate</a
            >
        </div>
    </article>
    <section class="relative p-10 bg-gray-700 text-xl flex flex-col gap-5 items-center">
        <span class="text-center max-w-lg text-white z-20 p-5 text-base">
            After our own inspection, we will walk you through the space, giving
            you the opportunity to review our work so we can ensure your <i>total
                satisfaction.</i>
        </span>
        <svg
            class="text-emerald-500 absolute opacity-20"
            xmlns="http://www.w3.org/2000/svg"
            width="8rem"
            height="8rem"
            viewBox="0 0 48 48"
            ><defs
                ><mask id="ipTCheckOne0"
                    ><g
                        fill="none"
                        stroke="#fff"
                        stroke-linejoin="round"
                        stroke-width="4"
                        ><path
                            fill="#555"
                            d="M24 44a19.94 19.94 0 0 0 14.142-5.858A19.94 19.94 0 0 0 44 24a19.94 19.94 0 0 0-5.858-14.142A19.94 19.94 0 0 0 24 4A19.94 19.94 0 0 0 9.858 9.858A19.94 19.94 0 0 0 4 24a19.94 19.94 0 0 0 5.858 14.142A19.94 19.94 0 0 0 24 44Z"
                        ></path><path
                            stroke-linecap="round"
                            d="m16 24l6 6l12-12"></path></g
                    ></mask
                ></defs
            ><path
                fill="currentColor"
                d="M0 0h48v48H0z"
                mask="url(#ipTCheckOne0)"></path></svg
        >

    </section>
</MainLayout>
